.footer_link {
  padding-top: 24px;

  span {
    font-size: 14px;
    text-align: center;
    display: block;
    color: #1a1f36;

    a {
      color: #5469d4;
      text-decoration: unset;
    }
  }

  .link_listing {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: #697386;
      font-weight: 600;
      margin: 0 10px;
    }
  }
}
